# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/prospere/prospapp"
PassengerBaseURI "/"
PassengerPython "/home/prospere/virtualenv/prospapp/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END